* {
    box-sizing: border-box;
}

:root {
    --primary: #44e9ff;
    --secondary: #153ca8;
    --grey: #28292c;
}

body {
    background-color: var(--primary);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: var(--secondary);
    border-bottom: 1px solid black;
    height: 100px;
}

header div a {
    display: block;
    color: black;
    padding: 30px 25px;
}

.time-left, .timer-sec {
    padding-right: 50px;
    float: right;
    font-weight: bolder;
    padding-bottom: 75px;
}

.page-content {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 25%;
}